<h1>Log In</h1>

<%= link_to('Log in with Facebook!', '/auth/facebook') %>
<br>

<%= form_tag({ controller: 'sessions', action: 'create', method: 'post' }) do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <br>

  <!-- <%= label_tag :email %>
  <%= text_field_tag :email %>
  <br> -->

  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br>

  <%= submit_tag 'Sign In' %>
<% end %>
