<h3>Log In</h3>

<%= link_to('Log in with Facebook!', '/auth/facebook') %>
<br>

<%= form_tag({ controller: 'sessions', action: 'create', method: 'post' }) do %>

  <div class="form-group">
    <%= label_tag :username %>
    <%= text_field_tag :username %>
  </div>

  <div class="form-group">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <%= submit_tag 'Sign In', class: "btn btn-outline-secondary" %>
<% end %>
