<p><%= notice %></p>

<!-- should go in layout -->
<% if @message %>
  <p><%= @message %></p>
<% end %>

<h2>Welcome, <%= @user.username %>!</h2>

<p>You have tried <%= @beers.count %> beers from <%= @breweries.count %> different breweries!</p>
<%= link_to "View Your Beers", user_beers_url(@user) %>

<br>

<%= link_to "Update Account Info", edit_user_path(@user) %> | <%= link_to "Log Out", logout_path %>
