<div>
  <% @beers.each do |beer| %>
    Name: <%= beer.name %>
    Type of Beer: <%= beer.beer_type %>
    IBU: <%= beer.ibu %>
    ABV: <%= beer.abv %>
    <%= beer.users.count %> user(s) have tried this beer!
  <% end %>
</div>
