<!-- no longer using for the purpose of this project, but will fix model
structure to allow use of this page --> 

<!-- <h1><%= @brewery.name %></h1>
<h3><%= @brewery.location %></h3>

<div>
  <% @beers.each do |beer| %>
    Name: <%= link_to "#{beer.name}", beer_path(beer.id) %><br>
    Type of Beer: <%= beer.beer_type %><br>
    IBU: <%= beer.ibu %><br>
    ABV: <%= beer.abv %><br><br>
  <% end %>
</div> -->
