<ul class="list-group">
  <% @beers.each do |beer| %>
    <li class="list-group-item">
      <h5><%= link_to "#{beer.name}", beer_path(beer.id), class: 'beer-link' %></h5>
      <p>Brewery: <%= link_to "#{beer.brewery.name}", brewery_path(beer.brewery.id) %></p>
      <p>Type of Beer: <%= beer.beer_type %></p>
      <p>IBU: <%= beer.ibu %></p>
      <p>ABV: <%= beer.abv %>%</p>
    </li>
  <% end %>
</ul>
