<%= form_for(@user, @beer) do |f| %>
  <% if @beer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@beer.errors.count, "error") %> prohibited this beer from being saved:
      </h2>

      <ul>
        <% @beer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>

  <label>Name:</label>
  <%= f.text_field :name %>
  <br><br>

  <%= f.fields_for :brewery, @brewery do |b_field| %>
    <label>Brewery Name:</label>
    <%= b_field.text_field :name %>
    <br><br>

    <label>Brewery Location:</label>
    <%= b_field.text_field :location %>
  <% end %>
  <br><br>

  <label>Type of Beer:</label>
  <%= f.text_field :beer_type %>
  <br><br>

  <label>IBU:</label>
  <%= f.text_field :ibu %>
  <br><br>

  <label>ABV:</label>
  <%= f.text_field :abv %>
  <br><br>

  <%= f.submit %>
<% end %>
