<li>
  <h3><%= link_to "#{@beer.name}", beer_path(@beer.id) %></h3>
  <p>Brewery: <%= @beer.brewery.name %></p>
  <p>Type of Beer: <%= @beer.beer_type %></p>
  <p>IBU: <%= @beer.ibu %></p>
  <p>ABV: <%= @beer.abv %></p>
  <p><%= link_to "Edit", edit_beer_path(@beer) %></p>
</li>
