<h1><%= @user.username %>'s Beers</h1>

<div>
  <% @beers.each do |beer| %>
    Name: <%= link_to "#{beer.name}", beer_path(beer.id) %>
    <br>
    Brewery: <%= beer.brewery.name %>
    <br>
    Type of Beer: <%= beer.beer_type %>
    <br>
    IBU: <%= beer.ibu %>
    <br>
    ABV: <%= beer.abv %>
    <br>
    <%= link_to "Edit Beer", edit_beer_path(beer) %> | <%= link_to "Delete", beer_path(beer), method: :delete %>
    <br><br>
  <% end %>
</div>

<div id="new-beer">
  <h3>New Beer</h3>
  <form id="new-beer-form">
    <%= render partial: 'form', locals: {beer: @beer = Beer.new, brewery: @brewery = Brewery.new} %>
  </form>
