<h1><%= @user.username %>'s Beers</h1>

<div>
  <% @beers.each do |beer| %>
    Name: <%= beer.name %>
    <br>
    Brewery: <%= link_to "#{beer.brewery.name}", brewery_path(beer.brewery.id) %>
    <br>
    Type of Beer: <%= beer.beer_type %>
    <br>
    IBU: <%= beer.ibu %>
    <br>
    ABV: <%= beer.abv %>
    <br><br>
  <% end %>
</div>

<%= link_to "Add New Beer", new_user_beer_path %>
