<h1><%= @user.username %>'s Beers</h1>

<div>
  <% @beers.each do |beer| %>
    Name: <%= link_to "#{beer.name}", beer_path(beer.id) %>
    <br>
    Brewery: <%= beer.brewery.name %>
    <br>
    Type of Beer: <%= beer.beer_type %>
    <br>
    IBU: <%= beer.ibu %>
    <br>
    ABV: <%= beer.abv %>
    <br>
    <%= link_to "Edit Beer", edit_user_beer_url(@user, beer) %> | <%= link_to "Delete", user_beer_url(@user, beer), method: :delete %>
    <br><br>
  <% end %>
</div>

<form id="beer-form">
  Name: <input type="text" name="name"><br>
  Brewery: <input type="text" name="brewery_name"><br>
  Brewery Location <br>
  City: <input type="text" name="brewery_city"><br>
  State: <input type="text" name="brewery_state"><br>
  Type of Beer: <input type="text" name="beer_type"><br>
  IBU: <input type="text" name="ibu"><br>
  ABV: <input type="text" name="abv"><br>
  <button type="submit">Create Beer</button>
</form>
