<h1><%= @user.username %>'s Beers</h1>

<div>
  <% @beers.each do |beer| %>
    Name: <%= link_to "#{beer.name}", beer_path(beer.id) %>
    <br>
    Brewery: <%= beer.brewery.name %>
    <br>
    Type of Beer: <%= beer.beer_type %>
    <br>
    IBU: <%= beer.ibu %>
    <br>
    ABV: <%= beer.abv %>
    <br>
    <%= link_to "Edit Beer", edit_user_beer_url(@user, beer) %> | <%= link_to "Delete", user_beer_url(@user, beer), method: :delete %>
    <br><br>
  <% end %>
</div>
<!-- <h2>Add a New Beer!</h2>

<%= render 'form' %> -->
