<h1><%= @user.username %>'s Beers</h1>

<div>
  <% @beers.each do |beer| %>
    Name: <%= link_to "#{beer.name}", beer_path(beer.name) %>
    Brewery: <%= link_to "#{beer.brewery.name}", beer_path(beer.brewery.name) %>
    Type of Beer: <%= beer.beer_type %>
    IBU: <%= beer.ibu %>
    ABV: <%= beer.abv %>
  <% end %>
</div>
