<!DOCTYPE html>
<html>
  <head>
    <title>PintTrackrRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav align="right">
      <% if current_user %>
        <%= link_to "View All Your Beers", beers_url %> |
        <%= link_to "Log Out", logout_path %>
      <% end %>
    </nav>
  </head>

  <body>
    <h1>PintTrackr</h1>

    <p><%= notice %></p>

    <% if @message %>
      <p><%= @message %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
