<!DOCTYPE html>
<html>
  <head>
    <title>PintTrackrRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <nav class="nav justify-content-end">
      <% if current_user %>
        <%= link_to "Profile", user_path(current_user.id), class: "nav-link" %>
        <%= link_to "Update User Info", edit_user_path(current_user.id), class: "nav-link" %>
        <%= link_to "Log Out", logout_path, class: "nav-link" %>
      <% end %>
    </nav>
  </head>

  <body>
    <h1>PintTrackr</h1>

    <p><%= notice %></p>

    <% if @message %>
      <p><%= @message %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
